extends layout
block content
  .headline
    .container
      h1.headline-title= headline_title
      h4.headline-subtitle= headline_subtitle
  aside.headline-bottom
    .container
      p.docs= headline_bottom
        | &nbsp;
        if(headline_bottom_link)
          a(href= headline_bottom_link.link ? headline_bottom_link.link : '')= headline_bottom_link.text ? headline_bottom_link.text : ''
  .container
    .row(class=locals.pageSegment)
      .col-md-3
        .sidebar-nav
          if locals.sidebar
            ul.nav.nav-list
              each link in sidebar
                if link.url
                  if locals.rootSidebar
                    li
                      a(href='/' + link.url + '.html', class=locals.pageSegment == link.url && 'active')= link.name
                  else
                    li
                      a(href='/' + page + '/' + link.url + '.html', class=locals.pageSegment == link.url && 'active')= link.name
                else
                  li.nav-header
                    if link.icon
                      i(class=link.icon)
                    span= link.name
      .col-md-9
        != content
        .end-link
          | Found an error in the documentation?
          | <a href='https://github.com/mwaylabs/the-m-project.org/issues'>File an issue</a>.